@{
    ViewBag.Title = "Error";
}

@*<h2>An Error Occurred(ese showing due to  <customErrors mode="On" /> in web config and  [HandleError] in controller)</h2>*@

@model string

@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>
<div>
    @if (!string.IsNullOrEmpty(Model))
    {
        <p>@Model</p>
    }
    else
    {
        <p>An unexpected error has occurred.</p>
    }
</div>
