

    <div style="padding-top:200px;">
        <h2 class="dashboard-title">WELCOME TO PATNA MUNICIPAL CORPORATION</h2>
        <div class="dashboard-buttons">
            <button>Property Dashboard</button>
            <button>Trade Dashboard</button>
            <button>Waste Management Dashboard</button>
        </div>
    </div>
